body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #836262;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

header h1 {
  margin: 0;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.project {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

#resume a {
  display: inline-block;
  background: #333;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
